.dashboard-main-content-wrapper {
  margin-left: 48px;
  padding-bottom: 50px;
}

.dashboard-main-content-wrapper > .header-bar {
  display: flex;
  align-items: flex-end;
  height: 54px;
  font-size: 26px;
  font-weight: 300;
  margin-left: 0;
}

.dashboard-main-content-wrapper > .header-bar > .btn {
  align-self: center;
  margin-left: auto;
  margin-right: 5px;
}

.modal .btn-close {
  width: .25rem;
  height: .25rem;
  margin: 0 !important;
}

.form-control.modal-input {
  height: 38px;
  display: block;
  box-shadow: none;
  border-width: 1px;
  border-style: solid;
  padding: 8px 12px;
  border-color: #d8e0e6;
  font-size: 14px;
  font-weight: 300;
  border-radius: 3px;
}

.form-control.modal-input:focus {
  border-color: #d41b2c;
  border-width: 2px;
}

.modal .form-label {
  font-size: 16px;
  font-weight: 350;
  margin-bottom: 0 !important;
}

.course-cards-container {
  padding-top: 24px;
  margin-left: -36px;
}

.card-row {
  margin-top: -36px;
  max-width: 1200px;
}

.card.dashboard-course-card {
  display: inline-block;
  border-radius: 4px;
  width: 262px;
  margin-top: 36px;
  margin-left: 36px;
  box-shadow: 0 2px 5px #0000004d;
  flex-grow: 0;
  flex-shrink: 0;
}

.card.dashboard-course-card a {
  text-decoration: none;
  color: #000000;
}

.card.dashboard-course-card a:hover {
  text-decoration: underline;
  text-decoration-color: #A32424;
}

.card.dashboard-course-card:hover {
  box-shadow: 0 4px 10px #0000004d
}

.dashboard-card-header {
  height: 146px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-color: #A32424;
}

.dashboard-card-header > .card-header-button {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 36px;
  height: 36px;
  font-size: 24px;
  text-align: center;
  padding-top: 6px;
  color: #ffffff;
}

.card-body.dashboard-card {
  padding: 12px 18px 0;
  background-color: #ffffff;
}

h6.dashboard-card-title {
  margin: 0;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  color: #A32424;
}

.dashboard-card-subtitle {
  margin-top: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.dashboard-card-course-term {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dashboard-card-base {
  display: flex;
  box-sizing: border-box;
  padding-bottom: 12px;
  margin-top: 9px;
  height: 40px;
}

.dashboard-card-base a {
  height: 36px;
  width: 66px;
  font-size: 18px;
  text-align: center;
  padding-top: 4px;
  text-decoration: none;
  color: #677179;
}

.dashboard-course-card svg {
  vertical-align: top;
}

.dashboard-card-base a:hover {
  color: #d41b2c;
}

@media only screen and (max-width: 767px) {
  .dashboard-main-content-wrapper {
    margin-left: 0;
    padding-left: 12px;
    padding-right: 12px;
  }

  .dashboard-main-content-wrapper .header-bar {
    margin-right: 0;
  }
}

@media only screen and (max-width: 584px) {
  .card-row {
    display: flex;
    justify-content: center;
  }

  .card.dashboard-course-card {
    flex-grow: 1;
    flex-shrink: 0;
  }
}
