.kanbas-navigation {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 84px;
  background-color:  #000000;
  z-index: 10;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  /*font-weight: 200;*/
}

.kanbas-navigation .logo-container {
  width: 100%;
  background-color:  #000000;
  box-sizing: border-box;
  /*z-index: 11;*/
}

.logo-container > .logo-mark {
  height: 85px;
  background-size: contain;
  background-position: 50%;
  display: block;
}

ul.kn.list-group {
  padding: 0px;
  margin: 0px;
  list-style: none;
  border-radius: 0px;
}

ul.kn .list-group-item {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
  background-color: #000000;
  font-size: 14px;
  border-style: none;
}

ul.kn .list-group-item.active {
  background-color: #ffffff;
  border-color: #ffffff;
}

ul.kn .list-group-item a {
  color:  #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 300;
}

ul.kn .list-group-item.active a {
  color: #A32424;
}

ul.kn .list-group-item i {
  color:  #d41b2c;
  font-size: 25px;
  margin-bottom: 5px;
}

i#Account {
  color:  #c4c4c4;
  font-size: 35px;
}

.mobile-kanbas-nav {
  background-color: #ffffff;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

ul.mkn.list-group {
  padding: 0px;
  margin: 0px;
  list-style: none;
  border-radius: 0px;
  /*padding: 24px;*/
}

ul.mkn .list-group-item {
  padding: 0px;
  margin-left: 25px;
  margin-bottom: 25px;
  border: none;
  font-size: 16px;
  align-items: center;
  background-color: #ffffff;
  border-color: #ffffff;
  color: #d41b2c;
}

ul.mkn .list-group-item a {
  color: #d41b2c;
  flex-direction: row;
  display: flex;
  height: 40px;
  align-items: center;
  font-weight: 300;
}

ul.mkn .list-group-item.active a {
  font-weight: 500;
}

ul.mkn .list-group-item a:hover {
  text-decoration: underline;
}

ul.mkn .list-group-item .icon-container {
  width: 40px;
  height: 40px;
  padding-top: 5px;
  text-align: center;
  margin-right: 20px;
  display: inline-block;
}


ul.mkn .list-group-item i {
  font-size: 30px;
}

.mobile-kanbas-nav > .kn-mobile-header-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*background-color: #000000;*/
  height: 50px;
  /*color: #ffffff;*/
  margin-bottom: 36px;
}

.kn-mobile-header-bar a, .kn-mobile-header-bar a:active, .kn-mobile-header-bar a:focus, .kn-mobile-header-bar a:hover  {
  text-decoration: none;
  color: inherit;
}

.kn-mobile-header-bar-title {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  color: #000000;
}

.kn-mobile-header-bar-title .logo-label {
  margin-left: 15px;
  color: #e72429;
  font-size: 35px;
  font-weight: 500;
}


.kn-mobile-header-bar-icon-container {
  /*height: 80px;

  color: #ffffff;
  padding: 20px;*/
 /* width: 50px;*/
  height: 50px;
  text-align: center;
  width: 50px;
  /*color: #000000;*/
}

.kn-mobile-header-bar-icon-container .logo-mark {
  width: 50px;
  background-size: contain;
  background-position: 50%;
  display: block;
}


a#xmark {
  padding-top: 12px;
  text-decoration: none;
  font-size: 25px;
}

a#xmark:hover {
  background-color: e3e3e3;
  border-color: e3e3e3;
  border-radius: 3px;
  border-width: 1px;
}

/*a#xmark:focus,  a#xmark:active{
  background-color: e3e3e3;
  border-color: e72429;
  border-radius: 3px;
  border-width: 1px;
}*/
