.kanbas-navigation {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 84px;
  background-color:  #000000;
  z-index: 10;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  /*font-weight: 200;*/
}

.kanbas-navigation .logo-container {
  width: 100%;
  background-color:  #000000;
  box-sizing: border-box;
  /*z-index: 11;*/
}

.logo-container > .logo-mark {
  height: 85px;
  background-size: contain;
  background-position: 50%;
  display: block;
}

ul.kn.list-group {
  padding: 0px;
  margin: 0px;
  list-style: none;
  border-radius: 0px;
}

ul.kn .list-group-item {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
  background-color: #000000;
  font-size: 14px;
  border-style: none;
}

ul.kn .list-group-item.active {
  background-color: #ffffff;
  border-color: #ffffff;
}

ul.kn .list-group-item a {
  color:  #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 300;
}

ul.kn .list-group-item.active a {
  color: #A32424;
}

ul.kn .list-group-item i {
  color:  #d41b2c;
  font-size: 25px;
  margin-bottom: 5px;
}

i#Account {
  color:  #c4c4c4;
  font-size: 35px;
}

.mobile-kanbas-nav {
  z-index: 10;
 /* width: 100%;
  height: 100%;
  position: fixed;
      top: 0;
      left: 0;
      z-index: -1;*/
  /*height: 100%;*/
  /*



  display: flex;
  flex-direction: row;
  flex-grow: 1;*/
  /*max-height: 3000px;*/
  /*display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;*/
  /*margin-top: -24px;
  margin-left: -12px;
  margin-right: -12px;*/
  /*margin-bottom: 50px;
  box-shadow: 0 .375rem .4375rem rgba(0,0,0,.1),0 .625rem 1.75rem rgba(0,0,0,.25);*/
}

ul.mobile-kanbas-nav.list-group {
  padding: 0px;
  margin: 0px;
  list-style: none;
  border-radius: 0px;
}

ul.mobile-kanbas-nav .list-group-item i#Account {
  /*color:  #c4c4c4;*/
  font-size: 16px;
}

ul.mobile-kanbas-nav .list-group-item {
  /*display: flex;
  flex-direction: column;*/
  padding: 0px;
  padding-left: 20px;
  margin: 0px;
  border: none;
  font-size: 16px;
  height: 27px;
  align-items: center;
  flex-grow: 1;
  /*min-height: 36px;*/
  /*display: inline-block;*/
  /*box-sizing: border-box;*/
  /*text-align: center;
  background-color: #000000;
  font-size: 14px;
  border-style: none;*/
  background-color: #ffffff;
  border-color: #ffffff;
  color:  #a32424;
}

ul.mobile-kanbas-nav .list-group-item a {
  color:  #a32424;
  /*display: flex;*/
  /*display: block;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*box-sizing: border-box;
  text-decoration: none;
  position: relative;*/
  /*padding-top: 8px;
  padding-right: 0px;
  padding-bottom: 8px;
  padding-left: 6px;*/
  /*text-decoration: none;
  max-width: 140px;
  word-break: break-word;
  overflow-wrap: break-word;*/
  font-weight: 300;
  /*background-color: #ffffff;
  border-color: #ffffff;*/
}

ul.mobile-kanbas-nav .list-group-item.active a {
  font-weight: 500;
}

ul.mobile-kanbas-nav .list-group-item a:hover {
  text-decoration: underline;
}

ul.mobile-kanbas-nav .list-group-item i {
  /*color:  #d41b2c;
  font-size: 25px;*/
  margin-right: 7px;
  width: 16px;
  text-align: center;
}