body * {
  font-family: 'Lato Extended', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
}

/*body * a:hover {
  text-decoration: underline;
}*/
*:focus {
    box-shadow: none !important;
}

.btn {
  background-color: #f5f5f5;
  color: #000000;
  border-width: 1px;
  border-style: solid;
  border-color: #c7cdd1;
  border-radius: 3px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 14px;
  padding-left: 14px;
  text-decoration: none;
  font-weight: 300;
}

.btn:hover {
  background-color: #e5e5e5;
  transition: 0.2s;
  color: #000000;
  border-color: #c7cdd1;
}

.btn:focus, .btn:active {
  background-color: #e5e5e5;
  transition: 0.1s;
  color: #000000;
  border-color: #a32424;
  border-width: 2px;
  outline: none !important;
  box-shadow: none !important;
}

.flex-row-container {
  display: flex;
  flex-direction: row;
}

.main-content-wrapper {
  margin-left: 84px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.below-header-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/*header bar styling start */
.header-bar {
  display: flex;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #c7cdd1;
  margin-top: 0px;
  margin-right: 24px;
  margin-bottom: 0px;
  margin-left: 24px;
  height: 72px;
  /*box-sizing: border-box;*/
}

.header-bar i#menu-button {
  margin-right: 22px;
  padding-top: 5px;
  width: 36px;
  height: 30px;
  color: #A32424;
  text-align: center;
  font-size: 25px;
}

.breadcrumb-wrapper {
  /*flex-grow: 1;*/
  /*flex-shrink: 1;*/
  /*flex-basis: 0%;*/
  /*display: flex;
  align-items: center;
  box-sizing: border-box;*/
}

ul.breadcrumbs.list-group {
  /*padding: 0px;
  margin: 0px;*/
  list-style: none;
  display: flex;
  flex-direction: row;

}

ul.breadcrumbs .list-group-item {
  /*display: inline-block;*/
  vertical-align: top;
  border-style: none;
  font-size: 18px;
  padding: 0;
  font-weight: 300;
}

ul.breadcrumbs .list-group-item#dashboard-header {
  font-size: 35px;
  font-weight: 200;
}

ul.breadcrumbs .list-group-item a {
  color:  #a32424;
  text-decoration: none;
  font-weight: 300;
}

ul.breadcrumbs .list-group-item a:hover {
  text-decoration: underline;
}

.header-bar i#subsection-arrow {
  margin-right: 9px;
  margin-left: 9px;
  width: 5px;
  height: 14px;
  color: #000000;
  font-size: 10px;
}
/*header bar styling end*/
