.grades-main-content {
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}

.grades-page-section {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  justify-content: end;
}

button.top-row {
  margin-left: 15px;
}

button#settings-btn {
  margin-left: 25px;
}

.search-fields {
  margin-top: 15px;
}

.form-control.grades-input {
  height: 40px;
  display: block;
  box-shadow: none;
  border-width: 1px;
  border-style: solid;
  padding: 8px 12px;
  border-color: #d8e0e6;
  font-size: 16px;
  font-weight: 200;
  border-radius: 0 3px 3px 0;
}

.search-fields .input-group:focus-within {
  border: 1px solid #d41b2c;
  border-radius: 3px;
}

.search-fields .input-group {
  height: 42px;
}

.grades-main-content .form-label {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
}

.edit-form-section .above-label {
  margin-bottom: 5px;
}

.input-group-prepend.grades-search .input-group-text {
  height: 40px;
  border-color: #d8e0e6;
  border-radius: 3px 0 0 3px;
  border-right-width: 0;
  background-color: #ffffff;
}

.grades-table-container {
  width: calc(100vw - 325px)
}

.grades-table {
  width: 1000px;
}

.grades-table * {
  color: #2d3b45;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
}

.grades-table a {
  text-decoration: none;
  color: #A32424;
  border: 0;
}

.grades-table th a:hover {
  text-decoration: underline;
  color: #A32424;
  border: 0;
}

.grades-table thead tr th:first-child {
  font-weight: 500;
  text-align: left;
  vertical-align: middle;
}

.grades-table tbody tr th:first-child {
  text-align: left;
}

.grades-table thead tr th :nth-child(2) {
  font-size: 12px;
}

.grades-table thead tr th {
  background-color: #f5f5f5 !important;
}

.grades-table th, .grades-table td {
  border: solid 1px #c7cdd1 !important;
  border-bottom: 0 !important;
}

.table > :not(:first-child) {
  border-top: 0;
}

.grades-table tbody tr:last-child td {
  border-bottom: solid 1px #c7cdd1 !important;
}

.grades-table tbody tr:last-child th {
  border-bottom: solid 1px #c7cdd1 !important;
}

.grades-table tbody tr:last-child:hover th {
  border-bottom: solid 1px #12A0F8 !important;
}

.grades-table tbody tr:last-child:hover td {
  border-bottom: solid 1px #12A0F8 !important;
}

.grades-table tr:nth-child(odd) {
  background-color: #f5f5f5 !important;
}

.grades-table tbody tr:hover td {
  border-top: 1px solid #12A0F8 !important;
  border-bottom: 1px solid #12A0F8 !important;
}

.grades-table tbody tr:hover th {
  border-top: 1px solid #12A0F8 !important;
  border-bottom: 1px solid #12A0F8 !important;
}

.grades-table tbody tr:hover td:last-child {
  border-right: 1px solid #12A0F8 !important;
}

.grades-table tbody tr:hover th:first-child {
  border-left: 1px solid #12A0F8 !important;
}

/*@media only screen and (max-width: 767px) {
  .home-main-content {
    padding-left: 12px;
    padding-right: 12px;
  }

  .grades-table-container {
    width: calc(100vw - 48px)
  }

  button.top-row {
    margin-right: 5px;
    margin-left: 0px;
  }

  button#settings-btn {
    margin-left: 0px;
  }

  .form-label {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
  }

  .form-control.grades-input {
    font-size: 14px;
  }
}*/
