.home-main-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  /*min-width: 600px;*/
}

.home-main-content > .secondary-header-bar {
  /*padding: 36px;*/
  /*display: flex;
  flex-direction: row;*/
  /*display: flex;
  flex-direction: row;*/
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #c7cdd1;
  min-height: 33px;
  padding-bottom: 12px;
  /*float: right;*/
}

.secondary-header-bar .btn {
  /*padding-bottom: 5px;*/
  /*align-items: float-end;*/
  float: right;
  margin-left: 5px;
}

i#publish-all-check-icon {
  font-size: 16px;
  margin-right: 5px;
  color: #05a82b;
}

i#solid-check-circle {
  color: #05a82b;
}

i#add-module-icon {
  font-size: 16px;
  margin-right: 5px;
  color: #ffffff;
}

.home-module-content {
  padding: 9px;
  margin-top: 15px;
  padding-bottom: 24px;
}

/*.module-header {

}*/

ul.module-content.list-group {
  padding: 0px;
  margin: 0px;
  list-style: none;
  border-radius: 0px;
  /*border-collapse: collapse;*/
}

ul.module-content .list-group-item {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 6px;
  color: #4c5860;
  background-color: #f5f5f5;
  border: 1px solid #c7cdd1;
  font-size: 20px;
  font-weight: 400;
  /*box-sizing: content-box;*/
}

ul.module-content .list-group-item-secondary {
  /*width: 100%*/
  display: flex;
  flex-direction: row;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  border: 1px solid #c7cdd1;
  border-left: 3px solid #05a82b;
  border-top: 0;
  font-size: 18px;
  font-weight: 300;
  color: #4c5860;
  background-color: #ffffff;

}

ul.module-content .list-group-item-secondary:hover {
  background-color: #eef7ff;
}

span.module-list-item-indent {
  padding-left: 40px;
  width: 0px;
}

.home-module-content i#link-logo {
  /*height: 16px;
  width: 16px;
  margin-right: 12px;
  margin-left: 12px;
  font-size: 12px;*/
  color: #05a82b;
}

.home-module-content i#external-link-icon {
  margin-left: 10px;
  font-size: 12px;
}

/*i#module-row-grip-icon {
  margin-right: 10px;
  margin-left: 4px;
  margin-bottom: 2px;
  font-size: 16px;
}

.list-group-item-secondary > i#module-row-grip-icon {
  margin-left: 0px;
}*/
.module-row-right-side-icons-container {

  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
  flex-shrink: 1;
  /*align-items: flex-end;*/
}

.module-row-icon-container {
  width: 20px;
  height: 30px;
  margin-right: 8px;
  margin-left: 4px;
  text-align: center;
  font-size: 16px;
  padding-top: 7px;
}

.list-group-item-secondary > .module-row-icon-container {
  width: 20px;
  height: 27px;
  margin-left: 0px;
  padding-top: 5px;
}

.module-row-right-side-icons-container .module-row-icon-container-end {
  width: 20px;
  height: 30px;
  text-align: center;
  /*margin-left: auto;*/
  font-size: 20px;
  padding-top: 5px;
  float: right;

  margin-left: 15px;
  /*position: relative;
  right: 0%;*/
  /*margin-right: 8px;
  margin-left: 4px;

  font-size: 16px;
  padding-top: 7px;*/
}

.list-group-item-secondary > .module-row-right-side-icons-container > .module-row-icon-container-end {
  width: 20px;
  height: 27px;
  text-align: center;
  /*margin-left: auto;*/
  font-size: 20px;
  padding-top: 3px;
  float: right;
  /*margin-left: 0px;
  padding-top: 5px;*/
}

.list-group-item-secondary > .module-row-icon-container.link-icon-container {
  /*width: 20px;
  height: 30px;*/
  margin-right: 10px;
  margin-left: 10px;
  /*text-align: center;
  font-size: 16px;
  padding-top: 7px;*/
}

.home-side-content {
  display: flex;
  flex-direction: column;
  min-width: 288px;
  width: 288px;
  padding: 24px;
}

.home-side-content .btn {
  float: right;
  /*margin-top: 5px;*/
  margin-top: 5px;
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
  text-align: left;
}

.home-side-content .btn-group {
  float: right;
  /*margin-top: 5px;*/
  /*margin-bottom: 5px;
  margin-right: 0px;
  margin-left: 0px;*/
  width: 100%;
  /*text-align: center;*/
}

.home-side-content .btn-group .btn {
 /* float: right;*/
  /*margin-top: 5px;*/
  /*margin-bottom: 5px;
  margin-right: 0px;
  margin-left: 0px;*/
 /* width: 100%;*/
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 12px;
}

button#unpublish-btn:active, button#unpublish-btn:focus {
  border-color: #2d3b45;
}

button#publish-btn {
  border-color: #2d3b45;
  color: #ffffff;
}

button#publish-btn:hover, button#publish-btn:active, button#publish-btn:focus {
  /*border-color: #2d3b45;
  color: #ffffff;*/
  background-color: #05a82b;
  border-color: #05a82b;
}

button#publish-btn {
  color: #ffffff;
  background-color: #6bd67d;
  border-color: #6bd67d;
}

i.button-icon {
  font-size: 16px;
  margin-right: 5px;
}

h5#home-side-panel-header {
  margin-bottom: 0px;
  font-weight: 300;
  font-size: 18px;
}

h6#home-side-panel-subheader {
  /*margin-top: 17px;*/
  margin-bottom: 0px;
  padding-bottom: 6px;
  font-weight: 400;
  font-size: 18px;
  border-bottom: 1px solid #c7cdd1;
}

.home-side-content .btn-subsections {
  margin-top: 17px;
}

.icon-toggle[aria-expanded=true] i#chevron-down {
  display: none;
}
.icon-toggle[aria-expanded=false] i#xmark {
  display: none;
}

@media only screen and (max-width:767px) {
    .home-main-content {
      padding-left: 12px;
      padding-right: 12px;
    }
}

@media only screen and (max-width:992px) {
  .secondary-header-bar .btn {
    margin-left: 5px;
    max-height: 42px;
  }
  .home-main-content > .secondary-header-bar {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
  }
}