.grades-main-content {
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}

.grades-page-section {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  justify-content: end;
}

.grades-main-content .btn :not(i.fa-gear) {
  color: #2d3b45;
  margin-right: 5px;
}

button.top-row {
  margin-left: 15px;
}

button#settings-btn {
  margin-left: 25px;
}

.search-fields {
  margin-top: 15px;
}

.form-control.grades-input {
  height: 40px;
  display: block;
  box-shadow: none;
  border-width: 1px;
  border-style: solid;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-color: #d8e0e6;
  font-size: 16px;
  font-weight: 200;
  border-radius: 3px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-left-width: 1px;
}

.search-fields  .input-group:focus-within {
  border: 1px solid #d41b2c;
  border-radius: 3px;
}

.search-fields .input-group {
  height: 42px;
}

.form-label {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
}

.edit-form-section .above-label {
  margin-bottom: 5px;
}

.input-group-prepend.grades-search .input-group-text {
  height: 40px;
  border-color: #d8e0e6;
  border-radius: 3px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-right-width: 0px;
  background-color: #ffffff;
}

.grades-table-container {
  width: calc(100vw - 325px)
}

.grades-table {
  width: 1000;
}

.grades-table * {
  color: #2d3b45;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  horizontal-align: middle;
}

.grades-table a {
  text-decoration: none;
  color: #A32424;
  border: 0;
}

.grades-table th a:hover {
  text-decoration: underline;
  color: #A32424;
  border: 0;
}

.grades-table thead tr th:first-child {
  font-weight: 500;
  text-align: left;
  vertical-align: middle;
}

.grades-table tbody tr th:first-child {
  text-align: left;
}

.grades-table thead tr th :nth-child(2) {
  font-size: 12px;
}

.grades-table thead {
  background-color: #f5f5f5;
}

.grades-table th, .grades-table td {
  border: solid 1px #c7cdd1;
  border-bottom: 0;
}

.table > :not(:first-child) {
   border-top: 0;
}

.grades-table tbody tr:last-child td {
  border-bottom: solid 1px #c7cdd1;
}

.grades-table tbody tr:last-child th {
  border-bottom: solid 1px #c7cdd1;
}

.grades-table tbody tr:last-child:hover th {
  border-bottom: solid 1px #12A0F8;
}

.grades-table tbody tr:last-child:hover td {
  border-bottom: solid 1px #12A0F8;
}

grades-table tr:nth-child(odd) {
  background-color: #f5f5f5;
}

.grades-table tbody tr:hover td {
  border-top: 1px solid #12A0F8;
  border-bottom: 1px solid #12A0F8;
}

.grades-table tbody tr:hover th {
  border-top: 1px solid #12A0F8;
  border-bottom: 1px solid #12A0F8;
}

.grades-table tbody tr:hover td:last-child {
  border-right: 1px solid #12A0F8;
}

.grades-table tbody tr:hover th:first-child {
  border-left: 1px solid #12A0F8;
}

.form-control.table-input {
  font-size: 15px;
  font-weight: 300;
  padding: 0px;
  border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-right-width: 1px;
}

.grades-table .input-group {
  max-height: 100%;
  margin: auto;
}

.input-group-append .input-group-text {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-left-width: 0px;
  padding: .375rem;
}

@media only screen and (max-width:767px) {
    .home-main-content {
      padding-left: 12px;
      padding-right: 12px;
    }

    .grades-table-container {
      width: calc(100vw - 48px)
    }

    .mobile-header-bar {
      height: 80px;
    }

    button.top-row {
      margin-right: 5px;
      margin-left: 0px;
    }

    button#settings-btn {
      margin-left: 0px;
    }

    .form-label {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 5px;
    }

    .form-control.grades-input {
      font-size: 14px;
    }
}
